<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
    <% min = @content_count[-1][1].to_i %>
    <% max = @content_count[0][1].to_i %>
    <% @content_count.each do |content| %>
      <% pixel_size = scale_range_to_pixel_size(content, min, max) %> 
      <%= nest_svg_divs(content, pixel_size) %>
    <% end %>
    </div> 
    <div class="split-center">
    <% min = @interaction_count[-1][1].to_i %>
    <% max = @interaction_count[0][1].to_i %>
    <% @interaction_count.each do |interaction| %>
      <% percent = scale_range_to_pixel_size(interaction, min, max) %> 
      <%= content_tag('svg', content_tag('text', "#{interaction[0]}", class: "svg-text svg-wrapper"), class: "svg-circle svg-wrapper", style: ["width: #{percent};", "height: #{percent};"]) %> 
    <% end %>
    </div>
  </body>
  <div class="center">
    <% if current_user %>
      <%= form_for @new_search do |s| %> 
      @<%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
      <%= s.submit "Find Someone Else", class: "button hover_button", id: 'Submit Search' %>
      <% end %>
    <% end %>
  </div>
</html>