<!DOCTYPE html>
<html>
  <head>
    <div class="split-center">
    <% min = @content_count[-1][1].to_i %>
    <% max = @content_count[0][1].to_i %>
    <% @content_count.each do |content| %>
      <% percent = scale_range_to_percentage(content, min, max) %> 
      <%= content_tag('svg', content_tag('text', "#{content[0]}", class: "svg-text"), class: "svg-circle", style: ["width: #{percent};", "height: #{percent};", "font-size: #{percent};"]) %>
    <% end %>
    </div> 
    <div class="split-center">
    <% min = @interaction_count[-1][1].to_i %>
    <% max = @interaction_count[0][1].to_i %>
    <% @interaction_count.each do |interaction| %>
      <% percent = scale_range_to_percentage(interaction, min, max) %> 
      <%= content_tag('svg', content_tag('text', "#{interaction[0]}", class: "svg-text"), class: "svg-circle", style: ["width: #{percent};", "height: #{percent};", "font-size: #{percent};"]) %> 
    <% end %>
    </div>
  </head>
  <div class="center">
    <% if current_user %>
      <%= form_for @new_search do |s| %> 
      @<%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
      <%= s.submit "Find Someone Else", class: "button hover_button", id: 'Submit Search' %>
      <% end %>
    <% end %>
  </div>

  <body>
  </body>
</html>