<div class="tweets_container">
  <div class="user-handle">@<%= @username %></div>
  <div class="col-sm-4">
    <div class="collum-header">Content</div>
    <% find_max_and_min_word_count(@content_count) %>
    <% @content_count.each do |content| %>
      <%= nest_svg_divs(content, @range_minimum, @range_maximum) %>
    <% end %>
  </div> 
  <div class="col-sm-4">
    <div class="collum-header">Interactions</div>
    <% find_max_and_min_word_count(@at_tweet_count) %>
    <% @at_tweet_count.each do |at_tweet| %>
      <%= nest_svg_divs(at_tweet, @range_minimum, @range_maximum) %>
    <% end %>
  </div>
  <div class="col-sm-4">    
    <div class="collum-header">Hashtags</div>
    <% find_max_and_min_word_count(@hashtag_count) %>
    <% @hashtag_count.each do |hashtag| %>
      <%= nest_svg_divs(hashtag, @range_minimum, @range_maximum) %>
    <% end %>
  </div>
</div>
<div class="search-div">
  <% if @search %>
    <%= form_for @search do |s| %> 
    <%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
    <%= s.button "Find Someone Else", class: "btn btn-default", id: 'Submit Search' , data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x fa-fw'>Searching...</i>"} %>
    <% end %>
  <% end %>  
</div>