<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="split-center">
      <% find_max_and_min_word_count(@content_count) %>
      <% @content_count.each do |content| %>
        <%= nest_svg_divs(content, @range_minimum, @range_maximum) %>
      <% end %>
    </div> 
    <div class="split-center">
      <% find_max_and_min_word_count(@interaction_count) %>
      <% @interaction_count.each do |interaction| %>
        <%= nest_svg_divs(interaction, @range_minimum, @range_maximum) %>
      <% end %>
    </div>
  </body>
  <div class="center">
    <% if current_user %>
      <%= form_for @new_search do |s| %> 
      @<%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
      <%= s.submit "Find Someone Else", class: "button hover_button", id: 'Submit Search' %>
      <% end %>
    <% end %>
  </div>
</html>