<!DOCTYPE html>
<html>
  <head>
    <%= binding.pry %> 
    <%= scale_range_to_percentage(@interaction_count) %> 
    <%= @content_count %> 
  </head>
  <div class="center">
    <% if current_user %>
      <%= form_for @new_search do |s| %> 
      @<%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
      <%= s.submit "Find Someone Else", class: "button hover_button", id: 'Submit Search' %>
      <% end %>
    <% end %>
  </div>

  <body>
  </body>
</html>