<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= tag('img', src: session[:image], class: "user-image", id: 'Profile Image') %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group, search-div">
          <% if @search %>
            <%= form_for @search, url: search_create_path do |s| %> 
            <%= s.text_field :username, class: "search-bar", id: 'Search Bar' %>
            <%= s.button "Find Someone Else", class: "btn btn-default", id: 'Submit Search' , data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>"} %>
            <% end %>
          <% end %>  
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Log Out", user_destroy_path, class: "btn btn-default navbar-btn" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
