<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Twitter, Word Usage, Twitter Analysis">
    <meta name="description" content="Twitter World Analysis takes tweets and breaks down your word usage, interaction count, and use of hashtags so you can see the issues and people most important to you.">
    <title>Twitter Word Analysis</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>